.header{
  display: flex;
  justify-content: space-between;
  border: 1px;
  border-style: solid;
}
.logo{
  width: 100px;
}
.nav-items>ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 20px;
}
.nav-items>ul>li{
  padding: 10px;
  margin: 10px;
}

.resto-card{
  width: 150px;
  height: 380px;
  border-radius:6px ;
  padding: 20px;
  margin: 10px;
 
}
.res-card{
  display: flex;
  flex-wrap: wrap;

}
.resto-card:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 7px;
  border-width: 1px;
  font-weight: bold;
  border: 1px solid black;
  box-shadow: 10px 5px 30px grey;
  

}
.order-button{
  width: 100%;
  padding: 1px;
  border-radius: 9px;
  border: 1px;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 7px;
  border-width: 1px;
  font-weight: bold;
  border: 1px solid black;      
}
.order-button:hover{
  background-color: blue;
  color: white;
  border-radius: 7px;
  border-width: 1px;
  font-weight: bold;
}
.resto-img{
  width:100%;
  padding: 1px;
  border-radius: 9px;

 
}
.filter{
  display: flex;
}


